<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <form th:object="${bandForm}" th:action="@{/band/register}" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="bandName" class="form-label">밴드 이름</label>
      <input type="text" th:field="*{bandName}" class="form-control" required/>
    </div>
    <div class="mb-3">
      <label for="region" class="form-label">지역</label>
      <p id="region" class="form-control" th:text="${regionName}"></p>
      <div style="font-size:13px; color:gray;">* 지역을 새로 설정하고 싶다면 우측 상단 프로필 > 위치 인증에서 사용자 위치를 다시 인증해 주세요!</div>
      <div style="font-size:13px; color:gray;">(이 밴드 위치의 30km 이내에 있는 사용자만 밴드에 가입할 수 있어요.)</div>
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">선호 장르</label>
      <select name="genre" class="form-select form-select-sm">
        <option th:each="genre : ${genreList}" th:value="${genre}" th:text="${genre.displayName}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label for="position" class="form-label">내 포지션</label>
      <select name="position" class="form-select form-select-sm">
        <option th:each="position : ${positionList}" th:value="${position.name()}" th:text="${position.displayName}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label for="question" class="form-label">가입 질문(밴드에 지원 신청한 유저에게만 보이는
        질문입니다)</label>
      <input type="text" th:field="*{question}" class="form-control" required/>
    </div>
    <button type="submit" th:text="생성" class="btn btn-primary"></button>
  </form>
</div>
</html>