<div th:fragment="recruitmentFragment">
  <div class="mb-3">
  <label for="band" class="form-label">밴드 선택(밴드 리더, 스탭만 글 작성 가능!)</label>
  <select th:if="${bandList != null and bandList.size() > 0}" th:field="*{band}" class="form-control" required>
    <option value="">밴드를 선택하세요</option>
    <option th:each="band : ${bandList}" th:value="${band.id}" th:text="${band.bandName}"></option>
  </select>
  <select th:if="${bandList == null or bandList.size() == 0}" th:field="*{band}" class="form-control" disabled>
    <option value="">밴드를 생성해 주세요</option>
  </select>
  </div>
  <div class="mb-3">
    <label for="position" class="form-label">포지션 선택</label>
    <div data-toggle="buttons">
      <label th:each="position : ${positionList}" class="btn btn-outline-primary">
        <input type="checkbox"
               th:field="*{position}"
               th:value="${position.name()}"
               autocomplete="off"> <span th:text="${position.displayName}"></span>
      </label>
    </div>
  </div>
  <div class="mb-3" th:if="${modify}">
    <label for="isClosed" class="form-label">모집 완료</label>
    <input type="checkbox" th:field="*{isClosed}" class="form-check-input" id="active">
  </div>
  <script>
    document.querySelector('form').addEventListener('submit', function (e) {
      const checkboxes = document.querySelectorAll('input[name="position"]');
      const anyChecked = Array.from(checkboxes).some(cb => cb.checked);

      if (!anyChecked) {
        e.preventDefault();
        alert("하나 이상의 포지션을 선택해주세요.");
      }
    });
  </script>
</div>