<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input class="form-control" type="text" th:field="*{username}" placeholder="아이디 (4~20자)">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input class="form-control" type="password" th:field="*{password1}" placeholder="비밀번호 (6~20자, 영문+숫자+특수문자 포함)">
        </div>
        <div class="mb-3">
        <label for="password2" class="form-label">비밀번호 확인</label>
        <input class="form-control" type="password" th:field="*{password2}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">이메일</label>
            <input class="form-control" type="email" th:field="*{email}" th:value="${oauthEmail}" th:attr="readonly=${oauth}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="nickname">닉네임</label>
            <input class="form-control" type="text" th:field="*{nickname}">
        </div>
        <button class="btn btn-primary" type="submit">회원가입</button>
    </form>
</div>
</html>